{% extends 'spawn.html' %}
{% block content %}
<div class="FrontPage">
    <h1 class="Top">Chromatico</h1>
        <h5>[Insert all the lil icons here]</h5>

        <h2>Convincing title to lead to paragraph</h2>
            <h3>Much interesting, very convince</h3>
            <h4>you should signuppppppp</h4>
            <h5>JUST DO IT</H5>

        <h2>Why it works</h2>
            <h3>More convincing things, maybe a video</h3>

        <h2>Features</h2>
            <h3>Insert features here</h3>

        <h2>The best part</h2>
            <h3>FREEEEEE!!!!! FOREVS</h3>

    <h4>Don't have an account? Signup <a href="/signup">here</a>.</h4>
</div>
{% endblock %}
