{% extends 'spawn.html' %}
{% block content %}

<div class="FrontPage">
    <h1 class="Top">Chromatico</h1>

        <div class="T1">
        <h2 class="T1">What is Chromatico?</h2>
        </div>
            <h5>Chromatico is a website that teaches people how to recognize tones and chords by ear using piano and frequency tones
                based on the <a href="https://en.wikipedia.org/wiki/Chromatic_scale">Chromatic scale.</a></h5>

        <br>

        <div class="T2">
        <h2>How does it work?</h2>
            <p>     When a user signs up, they are then directed to take an assessment testing their tonal recognition skills with frequency-based tones. There are 20 questions
                and no time limit. Once a user finishes, they are then taken to see their results, where they are assigned a level from 1-3. Level 1 is minimal skills, if any at all.
                Level 2 has some skill, but they need more training to recognize a wider range of tones. Level 3 recognizes most tones, but not the upper-majority. Level 4 has the ability
                to recognize tones 100% of the time, and may be able to recognize chords as well.
                     Once a user is assigned their level, they can train through more quizzing. They gain points as they go and once they reach certain quotas, they may take a final exam for their
                     level - which they must score 95% or higher to pass - to level up.</p>
        </div>

        <h2 class="T3">Why it works</h2>
            <p>     Methods used in Chromatico are the same methods used by classical music teachers all over the world, but availabe for free. It encourages users to
                study hard and learn new concepts. How? Here's one example:
                    The assessment a new user takes not only assigns them to a level, but the assesment also judges
                what kind of questions a user needs. For example: If a student were to get 6/20 questions correct on the assessment, this would
                allow the user to choose what type of auditory questions they want- piano-based tones or frequency-based tones. Just because
                they might not be good at recognizing the frequencies in the quiz, that doesn't mean they can't train with another method.
                As the user gains confidence in their ability for aural chord recognition and tonal memory, they are then introduced to the new method and trained with it.
                Chromatico also borrows elements from the Suzuki method- putting more emphasis on learning to hear/play notes than the theory behind them.
                Once a user reaches level 3, if they desire, they then have the resources to learn about music theory. </p>

        <h2>Features</h2>
            <h3>Quizzes:</h3>
            <ul>
                <li>Signup quiz with 20 questions and immediate results afterwards</li>
                <li>Customizable options before training with quizzes(i.e. piano notes, frequencies, etc.)</li>
                <li>No time limits</li>
                <li>Positive affirmations after completion</li>
                <li>Rewards after leveling up</li>
            </ul>
            <br>
            <h3>Miscellaneous</h3>
            <ul>
                <li>User signup/login/logout</li>
                <li>Statistics for each user displayed on their homepage</li>
                <li>Options for each user, such as changing password, email or deleting account</li>
                <li>A log of achievements for each user on their homepage</li>
            </ul>
            <br>
            <h3>Feature soon to come:</h3>
            <p>This idea is still in beta along with the others, but this is another large feature of this website:</p>
            <h4>Joining audio together based on numerical inputs from a user.</h4>
            <p>Why? How? These questions come to mind when this idea is presented to some. Take a look at this video:</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/OMq9he-5HUU" frameborder="0" allowfullscreen></iframe>
            <br>
            <h4>On Chromatico users will have the ability to input a sequence of numbers that correspond to notes and their frequencies, and then
               the tones will join to create a melody at common time (4/4).</h4>



        <h2>The best part</h2>
            <h3>Everything is <b>free!</b></h3>
    <br>
    <h5>Don't have an account? Signup <a href="/signup">here</a>.</h5>

    <h5 class="no-access">About the <!--<a href="/about">-->developer.</h5>
</div>
{% endblock %}
