{% extends 'spawn.html' %}
{% block content %}

<h5>[Insert more lil icons here]</h5>

<h2>Welcome back, {{ current_user.username }}!</h2>
<!--<a href="/{{current_user.username}}/profile">Profile</a>-->
<h3>Current statistics:</h3>
    <p>Quizzes complete: {{ current_user.stats.quizzes_complete }}</p>
    <p>Past scores:
        {% for i in current_user.stats.percentages %}
        |{{ i }}|
        {% endfor %}
    </p>
    <p>Average percentage correct: {{ percent }}%</p>
    <p>Total points: {{ current_user.stats.points }}</p>
    <p>Current Level: {{ current_user.level }}</p>
<!--<a href="/{{current_user.username}}/profile">
    <button class="button">Profile</button>
</a>-->
<h3>Feature soon to come:</h3>
<p>This idea is still in beta along with the others, but this is another large feature of this website:</p>
<h4>Joining audio together based on numerical inputs from a user.</h4>
<p>Why? How? These questions come to mind when this idea is presented to some. Take a look at this video:</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/OMq9he-5HUU" frameborder="0" allowfullscreen></iframe>
<br>
<h4>On Chromatico users will have the ability to input a sequence of numbers that correspond to notes and their frequencies, and then
   the tones will join to create a melody at common time (4/4).</h4>

 <h5>Total users: {{ users }}</h5>

<a href="/logout">
    <button class="button">Logout</button>
</a>
<br>
<br>
{% endblock %}
