{% extends "spawn.html" %}
{% block content %}

<h2>Customize your quiz</h2>
    <p>On this page you can customize your training quizzes. You can choose how many questions you would like
        to answer, what your quizzes will <i>look</i> like (the type of questions) and what your quizzes will
        <i>sound</i> like.</p>
    <h5>Hit go when you're ready to begin!</h5>

    <form method="post" action="/custom-q">
        <p>Number of Questions:</p>
        <select name="qnum">
            {% for i in range(2,101) %}
                <option value={{i}}>{{i}}</option>
            {% endfor %}
        </select>
        <br>
        <p>Type of questions:</p>
        <select name="type">
            <option value="Text">Text</option>
            <option value="Audio">Audio</option>
            <option value="Piano">Piano</option>
            <option value="Random">Random</option>
        </select>
        <br>
        <br>
        <input type="submit" value="Go">
    </form>

{% endblock %}
