{% extends "spawn.html" %}
{% block content %}

<h3>Customize your quiz</h3>
    <p>On this page you can customize your training quizzes. You can choose how many questions you would like
        to answer, what your quizzes will <i>look</i> like (the type of questions) and what your quizzes will
        <i>sound</i> like.</p>
    <br>
    <h5>Hit go when you're ready to begin!</h5>

    <form method="post" action="/custom-q">
        <select name="qnum">
            {% for i in range(2,101) %}
                <option value={{i}}>{{i}}</option>
            {% endfor %}
        </select>
        <br>
        <br>
        <input type="submit" value="Go">
    </form>

{% endblock %}
