{% extends "spawn.html" %}
{% block content %}

<!--TODO: Make all the question type conditionals, as well as the make a for loops counting options according to level.-->
<p>Question {{ counter }}.</p>
{% if audio == "" %}
    <p> Select the audio below that belongs to {{ note }}.</p>
{% else %}
    <p> Identify the note as heard in the audio below.</p>
        <audio controls>
            <source src="{{ audio }}" type="audio/mp3">
                There was an error loading the audio.
        </audio>
{% endif %}

<form method="post" action="/quiz">
    {% for op in options %}
        {% if "https" in op %}
        <br>
            <input type="radio" name="option" value="{{ op }}">
                <audio controls>
                    <source src="{{ op }}" type="audio/mp3">
                        There was an error loading the audio.
                    </audio>
            </input>
            <br>
        {% else %}
            <input type="radio" name="option" value="{{ op }}">{{ op }}
            <br>
        {% endif %}
    {% endfor %}
<input type="submit">
</form>
<br>


{% endblock %}
