{% extends "spawn.html" %}
{% block content %}

    <h1> Resources used in the making of Chromatico:</h1>
    <ul>
        <li><a href="http://www.phy.mtu.edu/~suits/notefreqs.html">Chart of Frequencies</a></li>
        <li><a href="http://onlinetonegenerator.com/">Frequency-based Tone Generator</a></li>
        <li><a href="http://www.embeddablegames.net">Mario game</a></li>
        <li><a href="http://www.freeonlinegames.com">Burger Cat game</a></li>
        <li><a href="http://www.kongregate.com">All level 3 games</a></li>
    </ul>

{% endblock %}
