{% extends "spawn.html" %}
{% block content %}

<h3>Signup Guidelines</h3>
    <li><h4>Your username and password must be 8-20 characters long with no spaces, punctuation, or special characters.</h4></li>
    <li><h4>Entering your email is optional, but if you do, please do not include any spaces or invalid email providers. (spam emails, 10 minute mails, etc.)</h4></li>

<form method="post">
    Username:
      <input type="text" name="username"> <p class="error"><p>{{ errors.ue }}</p>
    <br>
    Password:
      <input type="password" name="password"> <p class="error"><p>{{ errors.pe }}</p>
    <br>
    Verify password:
      <input type="password" name="password_ver"> <p class="error"><p>{{ errors.pve }}</p>
    <br>
    Email (optional):
        <input type="email" name="email"> <p class="error"><p>{{ errors.e_e }}</p>
    <br>
    <input type="submit">
</form>

{% endblock %}
