<!DOCTYPE HTML>
<html>
    <head>
        <title>Chromatico</title>-
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
        <body>
            <div id="navMenu" class="Menu">
                <a href="/homepage">Home</a>
                <br>
                <a href="/signupq">Quiz</a>
                <br>
                <a href="/profile"><strike>Profile</strike></a>
                <br>
                <a href="/resources">Resources</a>
                <br>
                <a href="/logout">Logout</a>
                <br>
                <br>
                <a href="javascript:void(0)" class="closeB" onclick="closeNav()">Close</a>
            </div>

            <script>
                function openNav() {
                    document.getElementById("navMenu").style.backgroundColor = "#ABDE8C"; /*TODO: Make this change colors on different pages*/
                    document.getElementById("navMenu").style.width = "250px";
                    document.getElementById("main").style.marginLeft = "250px";
                }

                function closeNav() {
                    document.getElementById("navMenu").style.width = "0";
                    document.getElementById("main").style.marginLeft= "0";
                }
            </script>
        </body>
        <div id="main">
            {% block content %}
            {% endblock %}
            <button id="navBtn" onclick="openNav()">Open Menu</button>
        </div>
        <script type="text/javascript">
            openNav();
        </script>
</html>
