{% extends "spawn.html" %}
{% block content %}
<h2>Study!</h2>
    <p>Still not acing those quizzes? Fear not! On this page you can examine notes and listen to them to practice for the real quizzes. To begin,
        select a note on the piano below.</p>

        <div id="piano">
    	<a href="http://www.pianochord.org/c-major.html" id="c-key" target="_blank" class="key">
    			<p class="hide">C</p>
    	</a>

    	<a href="http://www.pianochord.org/d-major.html" id="d-key"  target="_blank" class="key">
    		<p class="hide">D</p>
    	</a>

    	<a href="http://www.pianochord.org/e-major.html" id="e-key"  target="_blank" class="key">
    		<p class="hide">E</p>
    	</a>

    	<a href="http://www.pianochord.org/f-major.html" id="f-key"  target="_blank" class="key">
    		<p class="hide">F</p>
    	</a>

    	<a href="http://www.pianochord.org/g-major.html" id="g-key"  target="_blank" class="key">
    		<p class="hide">G</p>
    	</a>

    	<a href="http://www.pianochord.org/a-major.html" id="a-key"  target="_blank" class="key">
    		<p class="hide">A</p>
    	</a>

    	<a href="http://www.pianochord.org/b-major.html" id="b-key"  target="_blank" class="key">
    		<p class="hide">B</p>
    	</a>

    	<a href="http://www.pianochord.org/d-flat.html" id="db-key"  target="_blank" class="black-key">
    		<p class="hide">D<small>b</small></p>
    	</a>

    	<a href="http://www.pianochord.org/e-flat.html" id="eb-key"  target="_blank" class="black-key">
    		<p class="hide">E<small>b</small></p>
    	</a>

    	<a href="http://www.pianochord.org/g-flat.html" id="gb-key"  target="_blank" class="black-key">
    		<p class="hide">G<small>b</small></p>
    	</a>

    	<a href="http://www.pianochord.org/a-flat.html" id="ab-key"  target="_blank" class="black-key">
    		<p class="hide">A<small>b</small></p>
    	</a>

    	<a href="http://www.pianochord.org/b-flat.html" id="bb-key" target="_blank" class="black-key">
    		<p class="hide">B<small>b</small></p>
    	</a>
    </div>

{% endblock %}
