/* Global CSS */

html,head,body {
    padding-top: 0px;
    margin-top: 0px;
    vertical-align: baseline;
    text-decoration: none;
}

/* Error CSS */
.error {
    color: red;
}

.no-access {
    opacity: .8;
    cursor: not-allowed;
}

/* Button CSS */

.button {
    background-color: #808080;
    border: none;
    color: white;
    padding: 14px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.4s;
    cursor: pointer;
    border-radius: 10px;
}

.button:hover {
    background-color: #666666;
}

.imp_button {
    background-color: red;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.4s;
    cursor: pointer;
    border-radius: 10px;
}



/* Menu CSS */

.Menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;

}

/* Menu's link styles*/
.Menu a {
    transition: 0.2s;
    text-align: center;
    padding: 4px 85px 4px;
    text-decoration: none;
    font-size: 24px;
}
.Menu a:visited {
    color: #66A93E;
}

.Menu a:active {
    color: white;
}

.Menu a:link {
    color: #66A93E;
}

.Menu .clsB {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.Menu a:hover {
    padding: 8px 8px 8px 90px;
    transition: 0.2s;
    color: white;
    text-decoration: none;
}

/* Block content */
#main {
    margin-top: 0px;
    transition: margin-left 0.5s;
}

/* Table CSS */

div .form {
    width: 100%;
}

.table td {
    margin-bottom: 15px;
}

.table-subm {
    background-color: #808080;
    border: none;
    color: white;
    padding: 10px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin: 10px 2px 0px 90px;
	transition: 0.4s;
	cursor: pointer;
    border-radius: 10px;
}

.table-subm:hover {
    background-color: #666666;
}

/* Frontpage CSS*/

.FrontPage {
    text-align: justify;
}

.FrontPage a{
    transition: .2s;
    text-decoration: none;
    color: gray;
}

.FrontPage a:visited {
    text-decoration: none;

}

.FrontPage a:hover {
    transition: .2s;
    color: #474545;
    text-decoration: none;
}
.FrontPage .Top {
    font-family: 'Lato',serif;
    margin-top: 0px;
    transition: 0.5s;
    text-align: center;
    color: white;
    font-size: 40px;
    background-color: #CAE8B7;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    padding-top: 60px;
}

.FrontPage .Top:hover {
    transition: 0.5s;
    background-color: #98C57C;
}

.FrontPage .Enter {
    height: 750px;
    width: 600px;
    transition: 0.5s;
    align-self: center;
    padding-left: 400px;
    transition: 0.5s;
    opacity: 0;
}

.FrontPage .Enter:hover {
    transition: 2s;
    opacity: 100;
}

.FrontPage p {
    text-indent: 25px;
}

/* Piano CSS */

#piano {
	width: 713px;
	margin: 50px auto;
	border: 8px solid black;
	height: 350px;
	border-radius: 10px;
	text-align: center;
}

#piano a:link {
	transition: 0.4s;
	text-decoration: none;
	color: gray;
}

.hide {
	color: black;
	transition: 0.4s;
}

.key {
	width: 100px;
	height: 350px;
	border: 1px solid black;
	float: left;
	border-radius: 0 0 7px 5px;
	border-bottom-width: 2px;
	background: white;
}

#c-key {
	border-left-width: 2px;
}

#b-key {
	border-right-width: 2px;
}

.key:hover {
	background: gray;
}

.key p {
	margin-top: 310px;
}

.black-key {
	color: gray;
	transition: 0.4s;
	width: 75px;
	height: 180px;
	background: black;
	display: inline-block;
	position: absolute;
	border-radius: 0px 0px 10px 10px;
}

.black-key p {
	color: gray;
	margin-top: 150px;

}

.black-key:hover {
	background-color: #111111;
}

#db-key {
	margin-left: -648px;
}

#eb-key {
	margin-left: -547px;
}

#gb-key {
	margin-left: -345px;
}

#ab-key {
	margin-left: -245px;
}

#bb-key {
	margin-left: -145px;
}

.black-key:active {
	color: white;
}

.hide:hover {
	color: white;
}
